# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environment
venv/
.env

# Django
media/
staticfiles/

# React
node_modules/
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

.venv/
__pycache__/
*.py[cod]
.env
logs/
media/
staticfiles/
